/* test for proper link to html */
/* h1 {
    color: palevioletred
} */

:root {
    --taupe: #423629;
    --dark-moss-green: #4F5D2F;
    --cornsilk: #FEFAE0;
    --cool-gray: #938BA1;
    --tigers-eye: #BC6C25;
} 

body {
    background-image: url('/Milestone-Project-1/assets/hills.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1#title {
    font-family: "Roboto", serif;
    color: var(--taupe);
    font-size: 50px;
    text-align: center;
}