:root {
    --taupe: #423629;
    --dark-moss-green: #4F5D2F;
    --cornsilk: #FEFAE0;
    --cool-gray: #938BA1;
    --tigers-eye: #BC6C25;
} 

body {
    background-image: url('/Milestone-Project-1/assets/background.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Roboto", serif;
    color: var(--taupe);
    font-size: 50px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-family: "Roboto", serif;
    color: var(--tigers-eye);
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h3 {
    font-family: fantasy;
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: white;
    letter-spacing: 3px;
    border: 2px white;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
}

#function {
    width: 100px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px #FEFAE0;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--taupe);
    background-color: var(--tigers-eye);
}

.balloon1 {
    width: 100px;
    height: 150px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Creates the balloon shape */
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon2 {
    width: 100px;
    height: 150px;
    background-color: green;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 35%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon3 {
    width: 100px;
    height: 150px;
    background-color: orange;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 75%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon4 {
    width: 100px;
    height: 150px;
    background-color: pink;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon5 {
    width: 100px;
    height: 150px;
    background-color: var(--cornsilk);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 5%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon6 {
    width: 100px;
    height: 150px;
    background-color: var(--dark-moss-green);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 90%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#startAnimation {
    height: 50px;
    width: 80px;
    color:#4e2d11;
    background-color: rgb(236, 149, 163);
    border-color: azure;
}
  
@keyframes floatUp {
    0% {
      transform: translateX(-50%) translateY(100vh);
    }
  
    100% {
      transform: translateX(-50%) translateY(-1500px);
    }
}