:root {
    --taupe: #423629;
    --dark-moss-green: #4F5D2F;
    --cornsilk: #FEFAE0;
    --cool-gray: #938BA1;
    --tigers-eye: #BC6C25;
} 

body {
    background-image: url('/Milestone-Project-1/assets/background.png');
    background-size: cover;
    background-repeat: repeat;
}

h1 {
    font-family: "Roboto", serif;
    color: var(--taupe);
    font-size: 50px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-family: "Roboto", serif;
    color: var(--tigers-eye);
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.score {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--taupe);
    background-color: var(--tigers-eye);
}

.balloon1 {
    width: 100px;
    height: 150px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Creates the balloon shape */
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon2 {
    width: 100px;
    height: 150px;
    background-color: green;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 35%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon3 {
    width: 100px;
    height: 150px;
    background-color: orange;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 75%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon4 {
    width: 100px;
    height: 150px;
    background-color: pink;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon5 {
    width: 100px;
    height: 150px;
    background-color: var(--cornsilk);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 5%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.balloon6 {
    width: 100px;
    height: 150px;
    background-color: var(--dark-moss-green);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    bottom: 0;
    left: 90%;
    transform: translateX(-50%);
    animation-name: floatUp;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


  
@keyframes floatUp {
    0% {
      transform: translateX(-50%) translateY(100vh);
    }
  
    100% {
      transform: translateX(-50%) translateY(-1000px);
    }
}